{% extends "ad_sales/base.html" %}
{% load staticfiles %}
<meta charset="utf-8">
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'add_spot_style.css' %}">{% endblock %}
{% block title %}Створення позиції{% endblock %}
{% block content %}
<label>Інформація про позицію: </label><br>
<form id="inp" action="{% url 'add_spot' %}" method="post">
    {% csrf_token %}
    <input type="text" class="text_input" name="Width" value="{{ width }}" placeholder="Ширина(%)">
    <input type="text" class="text_input" name="Height" value="{{ height }}" placeholder="Висота(%)">
    <input type="text" class="text_input" name="Cost" value="{{ cost }}" placeholder="Ціна">
    <label>Сторінка: </label>
    <select name="Page" class="access">
        {% for i in pages %}
        <option value="{{ i }}" {% if page == i %} selected {% endif %}>{{ i }}</option>
        {% endfor %}
    </select><br>
    <label>Положення: </label>
    <select name="Position" class="access">
        <option value="Зверху" {% if position == 'Зверху' %} selected {% endif %}>Зверху</option>
        <option value="Знизу" {% if position == 'Знизу' %} selected {% endif %}>Знизу</option>
        <option value="Справа" {% if position == 'Справа' %} selected {% endif %}>Справа</option>
        <option value="Зліва" {% if position == 'Зліва' %} selected {% endif %}>Зліва</option>
    </select>
    <input type="submit" name="input_submit" class="submit" value="Додати"/>
</form>
{% if error_message != '' %}
<p><b>{{ error_message }}</b></p>
{% endif %}
{% endblock %}